<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mapper.CredentialMapper">
	<select id="selectCredentialByUsername" parameterType="String" resultMap="CredentialMapper">
		SELECT * 
		FROM credential 
		WHERE username = #{username}
	</select>
	
	<resultMap type="domain.Credential" id="CredentialMapper" autoMapping="true">
		<result property="userId" column="user_id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="emailId" column="email_id" />
		<result property="securityQuestion1Id" column="security_question_1" />
		<result property="securityAnswer1" column="security_answer_1" />
		<result property="securityQuestion2Id" column="security_question_2" />
		<result property="securityAnswer2" column="security_answer_2" />
	</resultMap>
</mapper>