<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<mappers>
		<mapper resource="mybatis/AddressMapper.xml" />
		<mapper resource="mybatis/ContactMapper.xml" />
		<mapper resource="mybatis/CredentialMapper.xml" />
		<mapper resource="mybatis/EmailMapper.xml" />
		<mapper resource="mybatis/PhoneMapper.xml" />
		<mapper resource="mybatis/SecurityQuestionMapper.xml" />
	</mappers>
</configuration>
